[Unit]
Description=Telegram bot
After=network.target

[Service]
User=b0shka
Group=b0shka

WorkingDirectory=/home/b0shka/assistant/
ExecStart=/usr/bin/python3 /home/b0shka/assistant/assistant.py
Restart=always

[Install]
WantedBy=multi-user.target
