[Unit]
Description=Telegram bot
After=network.target

[Service]
WorkingDirectory=/home/q/assistant/
ExecStart=/usr/bin/python3 /home/q/assistant/main.py
Restart=always

[Install]
WantedBy=multi-user.target
