[Unit]
Description=Telegram bot
After=network.target

[Service]
User=b0shka
Group=b0shka

WorkingDirectory=/home/b0shka/assistant-bot/
Enviroment="PYTHONPATH=/usr/local/bin/"
ExecStart=/usr/local/bin/python3 /home/b0shka/assistant-bot/assistant.py

[Install]
WantedBy=multi-user.target
